<html>
{% load static %}
<head>

    <style>
        table, th, td {
            border: 1px solid grey;
        }

    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

</head>
<body>

<div class="container-fluid">

    <div class="row text-center m-4 p-4">
        <div class="container">
            <h2>RPi Dashboard</h2>
            <p>Turn On the LED or Turn it Off.</p>
            <table class="table">
                <thead>
                <tr>
                    <th>led</th>
                    <th>temperature</th>
                    <th>humidity</th>
                    <th>oled</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <form action="led" method="POST">
                            <input type="submit" value=" ON / OFF "/>{% csrf_token %}
                        </form>
                    </td>
                    <td>
                        {{ tempdata }} celsius
                    </td>
                    <td>
                        {{ humiddata }}%
                    </td>
                    <td>
                        <form action="oled" method="POST">
                            <input type="text" name="oleddata"/>
                            <input type="submit" value="print on oled"/>{% csrf_token %}
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
<div class="row text-center m-4 p-4">
	<img src="/static/images/stilimage.png" alt="picture" style="width:60%;">
</div>
</div>
<script charset="utf-8" type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
</body>
</html>
